[Unit]
Description=INF3995 Rest Server
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/srv/inf3995/rest/
ExecStart=/usr/bin/rest
EnvironmentFile=/etc/inf3995.env

[Install]
WantedBy=multi-user.target
