image: gpol/inf3995

stages:
    - build
    - test
    - lint

cache:
    paths:
        - server/build/libcppzmq/**/*
        - server/build/libcurlpp/**/*
        - server/build/libgflags/**/*
        - server/build/libgtest/**/*
        - server/build/libjson/**/*
        - server/build/libpistache/**/*
        - server/build/libzmq/**/*

################
# Build Stages #
################

build-server:
    stage: build
    before_script:
        - mkdir -p server/build
    script:
        - cd server/build && cmake .. && make
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml
    artifacts:
        paths:
            - server/build

#build-server:armv7:
#    stage: build
#    before_script:
#        - mkdir -p server/build
#    script:
#        - cd server/build && cmake .. -DBUILD_ARMV7=on && make
#    only:
#        changes:
#            - server/**/*
#            - .gitlab-ci.yml
#    artifacts:
#        paths:
#            - server/build/miner/miner
#            - server/build/rest/rest
#    allow_failure: true

build-desktop:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle build
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml
    artifacts:
        paths:
            - desktop/build

build-android:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle build
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml
    artifacts:
        paths:
            - android/build

###############
# Test Stages #
###############

test-server:
    stage: test
    script:
        - cd server/build && make test
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml
    dependencies:
        - build-server

test-desktop:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle test
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml
    dependencies:
        - build-desktop

test-android:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle test
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml
    dependencies:
        - build-android

###############
# Lint Stages #
###############

lint-server:
    stage: lint
    script:
        - cd server && ./lint.sh tidy && ./lint.sh format
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml
