[submodule "server/third_party/pistache"]
	path = server/third_party/pistache
	url = https://github.com/oktal/pistache.git
	branch = master
[submodule "server/third_party/nlohmann_json"]
	path = server/third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "server/third_party/googletest"]
	path = server/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "server/third_party/cppzmq"]
	path = server/third_party/cppzmq
	url = https://github.com/zeromq/cppzmq.git
	
[submodule "server/third_party/libzmq"]
	path = server/third_party/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "server/third_party/curlpp"]
	path = server/third_party/curlpp
	url = https://github.com/jpbarrette/curlpp.git
