<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.androidapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/classbook"
            android:label="@string/appName"
            android:roundIcon="@mipmap/classbook_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".ui.SidePanelActivity"></activity>
        <activity
                android:name=".ui.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="050160dd797abd8447d7542d388eda2fe8ef3ae3" />
    </application>

</manifest>