UseTab: false
IndentWidth: 2
Language: Cpp
BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 120
IncludeCategories:
  - Regex: ".*"
    Priority: 1
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true
BreakBeforeBraces: Custom
